@using System.Globalization
@inherits UmbracoViewPage<ScheduleSectionModel>

<div class="schedule">
	<div class="wrap">
		@if (Model.Title.HasValue())
		{
			<div class="title">
				<h2>@Model.Title</h2>
			</div>
		}
		@if (Model.RoundName.HasValue() && Model.SeasonYearStart.HasValue())
		{
			<div class="row">
				<div class="col-lg-2">
					<div class="round">
						<span class="number">@Model.RoundName</span>
						<span>@UmbracoDictionary.Shared.Round</span>
					</div>
				</div>
				@RenderScheduleColumn(Model.FirstDate, Model.FirstDateRange)
				@RenderScheduleColumn(Model.SecondDate, Model.SecondDateRange)
			</div>
		}
	</div>
</div>

@helper RenderScheduleColumn(DateTime date, IEnumerable<DateTime> dateRange)
{
	<div class="col-lg-5">
		@if (dateRange.HasValue())
		{
			CultureInfo cultureInfo = new CultureInfo("sr-Latn-RS");
			<div class="dates">
				@foreach (var rangeDate in dateRange)
				{
					<div class="date @(date == rangeDate ? "active" : string.Empty)">
						<span class="month">@(rangeDate.ToString("MMMM", cultureInfo).ToFirstUpper())</span>
						<span class="day">@rangeDate.Day</span>
					</div>
				}
			</div>
		}
		@{Html.RenderAction<ManagementHtmlController>(c => c.ScheduledGames(0, null, null, DateTime.Now), Model.SeasonYearStart, Model.RoundName, Model.LeagueName, date);}
	</div>
}
