@inherits UmbracoViewPage<PageModel>

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta charset="utf-8">
	<link href="@Url.Content("~/favicon.ico")" rel="icon" />
	<title>@Model.SeoTitle | @(Model.Settings?.SiteName)</title>

	@if (Model.HideFromGoogleSearch)
	{
		<meta name="robots" content="noindex, nofollow">
		<meta name="googlebot" content="noindex, nofollow">
	}

	@if (Model.SeoDescription.HasValue())
	{
		<meta name="description" content="@Model.SeoDescription" />
	}
	@if (Model.SeoKeywords.HasValue())
	{
		<meta name="keywords" content="@Model.SeoKeywords" />
	}
	@if (Model.SeoAuthor.HasValue())
	{
		<meta name="author" content="@Model.SeoAuthor" />
	}
	<link rel="canonical" href="@Model.CanonicalLink" />

	@Styles.Render("~/bundles/fonts")
	@Styles.Render("~/bundles/styles/main")
	@(Model.Settings?.GoogleTagManagerScriptCode)
	@(Model.Settings?.GoogleAnalyticsScriptCode)
	@RenderSection("additionalHeader", false)
</head>

<body>

@(Model.Settings?.GoogleTagManagerNonScriptCode)

@{Html.RenderAction<SharedController>(sc => sc.Header(null, null), Model.Header, Model.Home.NavigationItems); }
@RenderBody()
@{Html.RenderAction<SharedController>(sc => sc.Footer(null), Model.Footer); }
	

@Scripts.Render("~/bundles/scripts/main")
@if ((Model.Settings?.GoogleMapKey.HasValue() ?? false))
{
	<script type="text/javascript" src="@Model.Settings.GoogleMapKey"></script>
}
@RenderSection("additionalFooter", false)
</body>

</html>