@inherits UmbracoViewPage<AboutUsModel>

<main class="main" data-template-name="">
	<div class="banner">
		<div class="wrap">
			@if (Model.Banner.HasValue())
			{
				<div class="banner-title">
					@if (Model.Banner.BannerTitleExists)
					{
						<h2>@Model.Banner.PreBannerTitle <span>@Model.Banner.BannerTitle</span> @Model.Banner.PostBannerTitle</h2>
					}
				</div>
			}
		</div>
	</div>
	<div class="about">
		<div class="wrap">
			@if (Model.Title.HasValue())
			{
				<div class="title">
					<h2>@Model.Title</h2>
				</div>
			}
			@if (Model.Text.HasValue())
			{
				<div class="about-text">
					@Model.Text
				</div>
			}
		</div>
	</div>

	<div class="contact-form">
		<div class="wrap">
			@if (Model.ContactFormTitle.HasValue())
			{
				
				<div class="contact-title">
					<h2>@Model.ContactFormTitle</h2>
				</div>
			}
			@{Html.RenderAction<ContactFormSurfaceController>(c => c.RenderForm());}
			@*<form action="#">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="form_name" name="name" placeholder="Ime">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="email" class="form-control" id="form_email" name="email" placeholder="E-mail">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea id="form_message" class="form-control" name="message" placeholder="Poruka" rows="6"></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<input type="submit" class="form-control" value="Pošalji">
						</div>
					</div>
				</form>*@
		</div>
	</div>
</main>
@section AdditionalFooter {

	<script src="~/Scripts/contactForm.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

}