@using LZRNS.Web.Controllers.Management
@inherits UmbracoViewPage<HistoryModel>

<main class="main" data-template-name="@Model.Title">
	<div class="banner">
		<div class="wrap">
			@if (Model.Banner.HasValue())
			{
				<div class="banner-title">
					@if (Model.Banner.BannerTitleExists)
					{
						<h2>@Model.Banner.PreBannerTitle <span>@Model.Banner.BannerTitle</span> @Model.Banner.PostBannerTitle</h2>
					}
				</div>
			}
		</div>
	</div>
	<div class="history-page">
		<div class="wrap">
			@if (Model.Title.HasValue())
			{
				<div class="title">
					<h2>@Model.Title</h2>
				</div>
			}
			@if (Model.Seasons.HasValue())
			{
				<div class="row">
					<div class="col-lg-2">
						<ul class="years">
							@{
								foreach (var season in Model.Seasons)
								{
									<li data-season="@season.Title"><a href="javascript:;">@season.Title</a></li>
								}
							}
						</ul>
					</div>
					@foreach (var season in Model.Seasons)
					{
						<div class="col-lg-10 years-container" data-season="@season.Title" style="display: none;">
							@if (season.Modules.HasValue())
							{
								foreach (var module in season.Modules)
								 {
									 Html.RenderAction<NestedContentController>(c => c.Render(null), module);
								 }
							}
						</div>
					}
				</div>
			}
		</div>
	</div>
</main>