@inherits UmbracoViewPage<HomeModel>

<main class="main" data-template-name="">
	<div class="banner-home" role="banner">
		<div class="wrap">

			@if (Model.Banner.HasValue())
			{
				<div class="banner-title">
					@if (Model.Banner.BannerTitleExists)
				{
						<h1>@Model.Banner.PreBannerTitle <span class="orange">@Model.Banner.BannerTitle</span> @Model.Banner.PostBannerTitle</h1>
				}
				</div>
			}
			@if (Model.Leagues.HasValue())
			{
				foreach (var league in Model.Leagues)
				{
					<a class="something-to-implement" href="@(Model.Url + $"?ln={league}")">@league</a>
				}
			}
		</div>
	</div>
	@if (Model.Sections.HasValue())
	{
		foreach (var section in Model.Sections)
		{
			Html.RenderAction<NestedContentController>(c => c.RenderSection(null, null), section, Model.CurrentShownLeague);
		}
	}

</main>