@inherits UmbracoViewPage<HomeModel>

<main class="main" data-template-name="">
	<div class="banner-home" role="banner">
		<div class="wrap">
			<div class="banner-title">
				@if (Model.BannerTitleExists)
				{
					<h1>@Model.PreBannerTitle <span class="orange">@Model.BannerTitle</span> @Model.PostBannerTitle</h1>
				}
				@if (Model.Leagues.HasValue())
				{
					foreach (var league in Model.Leagues)
					{
						<a class="something-to-implement" href="@(Model.Url + $"?ln={league}")">@league</a>
					}
				}
			</div>
		</div>
	</div>
	@if (Model.Sections.HasValue())
	{
		foreach (var section in Model.Sections)
		{
			Html.RenderAction<NestedContentController>(c => c.RenderSection(null, null), section, Model.CurrentShownLeague);
		}
	}

</main>