@inherits UmbracoViewPage<LeaderboardLandingModel>

<main class="main" data-template-name="@Model.Title">
	<div class="banner">
		<div class="wrap">
			@if (Model.Banner.HasValue())
			{
				<div class="banner-title">
					@if (Model.Banner.BannerTitleExists)
					{
						<h2>@Model.Banner.PreBannerTitle <span>@Model.Banner.BannerTitle</span> @Model.Banner.PostBannerTitle</h2>
					}
				</div>
			}
			<div class="league-links">
				@if (Model.Leagues.HasValue())
				{
					foreach (var league in Model.Leagues)
					{
						<a class="league-link" href="@(Model.Url + $"?ln={league}")">@league</a>
					}
				}
			</div>
		</div>
	</div>
	<div class="statistics">
		<div class="wrap">
			@if (Model.Title.HasValue())
			{
				<div class="title">
					<h2>@Model.Title</h2>
				</div>
			}
			<div class="row">
				<div class="col-lg-10 offset-lg-2">
					<div class="arrows">
						@if (Model.HasPreviousRound)
						{
							<a class="left-arrow" href="@(Model.Url + $"?ln={Model.CurrentShownLeague}&r={Model.PreviousRound}")"><span class="font-ico-arrow-left"></span></a>
						}
						@if (Model.HasNextRound)
						{
							<a class="right-arrow" href="@(Model.Url + $"?ln={Model.CurrentShownLeague}&r={Model.NextRound}")"><span class="font-ico-arrow-right"></span></a>
						}
					</div>
				</div>
			</div>
            <!--change for staging site, use RoundName instead of CurrentShownRound, change when round change is fixed to use round id or round number, not round name-->
			@{Html.RenderAction<ManagementHtmlController>(c => c.Leaderboard(0, null, null), Model.SeasonYearStart, Model.RoundName, Model.CurrentShownLeague);}
		</div>
	</div>
</main>
