@inherits UmbracoViewPage<TeamsModel>

<main class="main" data-template-name="@Model.Title">
	<div class="banner">
		<div class="wrap">
			@if (Model.Banner.HasValue())
			{
				<div class="banner-title">
					@if (Model.Banner.BannerTitleExists)
					{
						<h2>@Model.Banner.PreBannerTitle <span>@Model.Banner.BannerTitle</span> @Model.Banner.PostBannerTitle</h2>
					}
				</div>
			}
			@if (Model.Leagues.HasValue())
			{
				foreach (var league in Model.Leagues)
				{
					<a class="something-to-implement" href="@(Model.Url + $"?ln={league}")">@league</a>
				}
			}
		</div>
	</div>
	<div class="wrap">
		<div class="teams-wrap">
			<div class="teams-top">
				<div class="search">
					@using (Ajax.BeginForm(
						nameof(TeamsSurfaceController.SearchResults),
						nameof(TeamsSurfaceController).RemoveControllerSuffix(),
						null,
						new AjaxOptions
						{
							HttpMethod = "POST",
							InsertionMode = InsertionMode.Replace,
							UpdateTargetId = "names-list"
						},
						new
						{
							@id = "teams-form"
						}))
					{
						@Html.Hidden("seasonYearStart", Model.SeasonYearStart, new { @id = "seasonYearStart"})
						@Html.HiddenFor(m => m.CurrentShownLeague);
						<label class="sr-only" for="search-input">Search</label>
						@Html.TextBox("searchString", string.Empty, new { @id = "search-input", @placeholder="Pretraži"})
						<button type="submit"><span class="icon font-ico-search"/></button>
					}
				</div>
				<div class="buttons">
					<button type="button" class="btn active" id="active-teams" data-seasonYearStart="@Model.SeasonYearStart">Aktivni</button>
					<button type="button" class="btn" id="all-teams" data-seasonYearStart="@Model.SeasonYearStart">Svi</button>
				</div>
			</div>
			<div class="names-list" id="names-list">
				@{Html.RenderAction<TeamsSurfaceController>(c => c.SearchResults(null, null), Model.SeasonYearStart, Model.CurrentShownLeague);}
			</div>
		</div>
	</div>
</main>

@section additionalFooter{
	<style>
		.active {
			background-color: red;
		}
	</style>
	@Scripts.Render("~/bundles/scripts/teams")
}