@model LZRNS.DomainModel.Models.Season
@using LZRNS.Web.Controllers.Management

@using (Ajax.BeginForm(nameof(SeasonManagementSurfaceController.Edit), nameof(SeasonManagementSurfaceController).RemoveControllerSuffix(), null, new AjaxOptions { HttpMethod = "POST", OnComplete = "location.reload()" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.Id)
	<i class="fa fa-fw fa-backward" id="back" style="cursor:pointer;"></i>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-3">
				<div class="row mr-3 mb-3">
					@Html.LabelFor(x => x.Name, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
					@Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
				</div>
				<div class="row mr-3 mb-3">
					@Html.LabelFor(x => x.SeasonStartYear, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.SeasonStartYear, new { @class = "form-control" })
					@Html.ValidationMessageFor(x => x.SeasonStartYear, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="col-md-3">
				<label class="control-label">Lige u sezoni</label>
				<div class="list-group">
					@foreach (var league in Model.LeagueList)
					{
						<a href="#" class="list-group-item league-item @(league.Selected ? "active" : null)"
						   data-id="@(league.Selected ? league.Value : string.Empty)"
						   data-leagueId="@league.Value"
						   data-seasonId="@Model.Id">
							@league.Text
						</a>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-save"></i>Sačuvaj</button>
		<button class="btn btn-danger btn-delete" data-seasonId="@Model.Id"><i class="fa fa-fw fa-trash"></i>Obriši</button>
	</div>
}
