@model LZRNS.DomainModel.Models.Game
@using LZRNS.Web.Controllers.Management

@using (Ajax.BeginForm(nameof(GameManagementSurfaceController.Edit), nameof(GameManagementSurfaceController).RemoveControllerSuffix(), null,new AjaxOptions{HttpMethod = "POST", OnSuccess = "location.reload()"}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.Id)
	@Html.HiddenFor(x => x.RoundId)
	@Html.HiddenFor(x => x.SeasonId)
	<i class="fa fa-fw fa-backward" id="back" style="cursor:pointer;"></i>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-3">
				<div class="row mr-3 mb-3">
					@Html.LabelFor(x => x.DateTime, new { @class = "control-label" })
					@Html.TextBoxFor(x => x.DateTime, new { @type = "datetime-local", @class = "form-control datepicker", @Value = Model.DateTime.ToString("yyyy-MM-ddThh:mm") })
					@Html.ValidationMessageFor(x => x.DateTime, null, new { @class = "text-danger" })
				</div>
				<div class="row mr-3 mb-3">
					@Html.LabelFor(x => x.TeamAId, new { @class = "control-label" })
					@Html.DropDownListFor(x => x.TeamAId, Model.Teams, "Izaberite drugi tim", new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
					@Html.ValidationMessageFor(x => x.TeamAId, null, new { @class = "text-danger" })
				</div>
				<div class="row mr-3 mb-3">
					@Html.LabelFor(x => x.TeamBId, new { @class = "control-label" })
					@Html.DropDownListFor(x => x.TeamBId, Model.Teams, "Izaberite drugi tim", new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
					@Html.ValidationMessageFor(x => x.TeamBId, null, new { @class = "text-danger" })
				</div>
			</div>
			<div class="col-md-9 text-center">
				<div class="row">
					<div class="col-md-6 d-inline-block">
						<label class="control-label">Startup tima @Model.TeamA.TeamName</label>
						<div class="list-group" style="overflow-y: scroll; height:400px;">
							@foreach (var player in Model.TeamA.AvailablePlayers)
							{
								<a href="#" class="list-group-item game-player-item @(player.Selected ? "active" : "")" data-gameId="@Model.Id" data-playerId="@(player.Value)">@player.Text</a>
							}
						</div>
					</div>
					<div class="col-md-6 d-inline-block">
						<label class="control-label">Startup tima @Model.TeamB.TeamName</label>
						<div class="list-group" style="overflow-y: scroll; height:400px;">
							@foreach (var player in Model.TeamB.AvailablePlayers)
							{
								<a href="#" class="list-group-item game-player-item @(player.Selected ? "active" : "")" data-gameId="@Model.Id" data-playerId="@player.Value">@player.Text</a>
							}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="control-label">Statistika tima @Model.TeamA.TeamName</label>
					<ul class="stats-list">
						<li>
							<span>Broj dresa</span>
							<span>Ime</span>
							<span>MIN</span>
							<span>2pts pogodaka</span>
							<span>2pts promašaja</span>
							<span>3pts pogodaka</span>
							<span>3pts promašaja</span>
							<span>Ft pogodaka</span>
							<span>Ft promašaja</span>
							<span>OReb</span>
							<span>DReb</span>
							<span>Ast</span>
							<span>To</span>
							<span>Stl</span>
							<span>Blk</span>
							<span>Fd</span>
							<span>Fc</span>
							<span>Td</span>
							<span></span>
						</li>
						@foreach (var stats in Model.TeamAPlayerStats)
						{
							@Html.Partial("_EditPlayerStats", stats)
						}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label class="control-label">Statistika tima @Model.TeamB.TeamName</label>
					<ul class="stats-list">
						<li>
							<span>Broj dresa</span>
							<span>Ime</span>
							<span>MIN</span>
							<span>2pts pogodaka</span>
							<span>2pts promašaja</span>
							<span>3pts pogodaka</span>
							<span>3pts promašaja</span>
							<span>Ft pogodaka</span>
							<span>Ft promašaja</span>
							<span>OReb</span>
							<span>DReb</span>
							<span>Ast</span>
							<span>To</span>
							<span>Stl</span>
							<span>Blk</span>
							<span>Fd</span>
							<span>Fc</span>
							<span>Td</span>
							<span></span>
						</li>
						@foreach (var stats in Model.TeamBPlayerStats)
						{
							@Html.Partial("_EditPlayerStats", stats)
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-save"></i>Sačuvaj</button>
		<button class="btn btn-danger btn-delete" data-gameId="@Model.Id"><i class="fa fa-fw fa-trash"></i>Obriši</button>
	</div>
}
