@model LeagueManagementModel
@using LZRNS.Web.Controllers.Management
@{
	Layout = "~/Views/Partials/Shared/_ManagmentLayout.cshtml";
}

<p>
	<button class="open-add-modal btn btn-primary">Dodaj novu ligu</button>
</p>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-@Model.MenuIconStyle"></i> @Model.PageTitle
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>
							Naziv lige
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Leagues)
					{
						<tr class="open-edit-modal" data-id="@item.Id" data-name="@item.Name">
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer small text-muted">LZRNS - administracija liga</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal">
</div>

@section scripts{
	<script>
		controller = {
			addAction: '@(Url.Action<LeagueManagementSurfaceController>(c => c.Add()))',
			editAction: '@(Url.Action<LeagueManagementSurfaceController>(c => c.Edit(null)))',
			deleteAction: '@(Url.Action<LeagueManagementSurfaceController>(c => c.Delete(new Guid())))'
		}
	</script>
	}