@model LZRNS.DomainModel.Models.Player
@using LZRNS.Web.Controllers.Management

<div class="modal-dialog" role="document">
	<div class="modal-content">
@using (Html.BeginForm(nameof(PlayerManagementSurfaceController.Add), nameof(PlayerManagementSurfaceController).RemoveControllerSuffix()))
{
			@Html.AntiForgeryToken()
			<div class="modal-header">
				<h5 class="modal-title">Dodavanje igrača</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<div class="col-md-12 text-center">
								<img class="img-responsive" id="imageFrame" height="150" width="150" style="border-radius:50%;background-color:#dee2e6;" />
								<button type="button" class="close" aria-label="RemoveImage">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							@Html.LabelFor(x => x.ImageFile, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.EditorFor(x => x.ImageFile)
							</div>
							@Html.LabelFor(x => x.Name, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
								@Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
							</div>
							@Html.LabelFor(x => x.MiddleName, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
							</div>
							@Html.LabelFor(x => x.LastName, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
								@Html.ValidationMessageFor(x => x.LastName, null, new { @class = "text-danger" })
							</div>
							@Html.LabelFor(x => x.Height, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
								@Html.ValidationMessageFor(x => x.Height, null, new { @class = "text-danger" })
							</div>
							@Html.LabelFor(x => x.Weight, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.TextBoxFor(x => x.Weight, new { @class = "form-control" })
								@Html.ValidationMessageFor(x => x.Weight, null, new { @class = "text-danger" })
							</div>
							@Html.LabelFor(x => x.YearOfBirth, new { @class = "control-label col-md-8" })
							<div class="col-md-12 mb-3">
								@Html.TextBoxFor(x => x.YearOfBirth, new { @class = "form-control" })
								@Html.ValidationMessageFor(x => x.YearOfBirth, null, new { @class = "text-danger" })
							</div>
						</div>

					</div>
				</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary green-save-button" id="image-submit"><i class="fa fa-fw fa-save"></i>Dodaj</button>
					</div>
			}
	</div>
</div>
