@inherits UmbracoViewPage<FooterModel>

<footer class="footer" role="contentinfo">
	<div class="wrap">
		@if (Model.Links.HasValue())
		{
			<nav class="footer-nav">
				<ul>
					@foreach (var link in Model.Links)
					{
						<li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
					}
				</ul>
			</nav>
		}

		@if (Model.SocialLinks.HasValue())
		{
			<ul class="social-links">
				@foreach (var socialLink in Model.SocialLinks)
				{
					<li><a href="@socialLink.Link.Url"><span class="font-ico-@socialLink.Icon"></span></a></li>
				}
			</ul>
		}
		<p class="copyright">Copyright @DateTime.Now.Year. @Model.CopyrightText</p>
	</div>
</footer>
