@using LZRNS.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - LZRNS Administracija</title>
    <!-- Bootstrap core CSS-->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/tooltipster.bundle.min.css" rel="stylesheet">
    <link href="~/Content/tooltipster-sideTip-shadow.min.css" rel="stylesheet">
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    @RenderSection("styles", required: false)
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/">LZRNS Administracija</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item @Html.IsSelected(controllers: "Administracija")" data-toggle="tooltip" data-placement="right" title="Administracija">
                    <a class="nav-link" href="/administracija">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Administracija</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(controllers: "Igrači")" data-toggle="tooltip" data-placement="right" title="Igrači">
                    <a class="nav-link" href="/administracija/administracija-igraca/">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Igrači</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(controllers: "Sezone")" data-toggle="tooltip" data-placement="right" title="Sezone">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Sezone</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(controllers: "Lige")" data-toggle="tooltip" data-placement="right" title="Lige">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Lige</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(controllers: "Utakmice")" data-toggle="tooltip" data-placement="right" title="Utakmice">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Utakmice</span>
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(controllers: "Timovi")" data-toggle="tooltip" data-placement="right" title="Timovi">
                    <a class="nav-link" href="/">
                        <i class="fa fa-fw fa-group"></i>
                        <span class="nav-link-text">Timovi</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/administracija">Početna</a>
                </li>
                @if (!Html.Controller().Equals("Home"))
                {
                    if (Html.Action().Equals("Index"))
                    {
                        <li class="breadcrumb-item active">@Html.Controller()</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index")">@Html.Controller()</a>
                        </li>
                        <li class="breadcrumb-item active">@Html.Action()</li>
                    }
                }
            </ol>

            @RenderBody()

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Liga za rekreativce Novi Sad @DateTime.Now.Year</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/js/sb-admin.min.js"></script>
        <script src="~/Scripts/tooltipster.bundle.min.js"></script>
        <script src="~/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
        <script src="~/Scripts/js/sb-admin-datatables.js"></script>

    </div>

    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.tooltip-popup').tooltipster({
                distance: -10,
                theme: 'tooltipster-shadow'
            });
        });
    </script>
</body>
</html>