@inherits UmbracoViewPage<ManagementPageModel>

@using LZRNS.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="robots" content="noindex,nofollow">
	<meta name="googlebot" content="noindex,nofollow">
	<title>@Model.PageTitle - LZRNS Administracija</title>
	@Styles.Render("~/bundles/styles/fontawesome/", "~/bundles/styles/management/")
	@RenderSection("styles", required: false)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->
	@if (Model.Settings.ManagementPage != null)
	{
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="/">LZRNS Administracija</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="@Model.Settings.ManagementPage.PageTitle">
						<a class="nav-link" href="@Model.Settings.ManagementPage.Url">
							<i class="fa fa-fw fa-@Model.Settings.ManagementPage.MenuIconStyle"></i>
							<span class="nav-link-text">@Model.Settings.ManagementPage.PageTitle</span>
						</a>
					</li>
					@if (Model.Settings.ManagementPage.HasNavigationItems)
					{
						foreach (var item in Model.Settings.ManagementPage.NavigationItems)
						{
							<li class="nav-item @(item.IsActivePage ? "active" : null)" data-toggle="tooltip" data-placement="right" title="@item.PageTitle">
								<a class="nav-link" href="@item.Url">
									<i class="fa fa-fw fa-@item.MenuIconStyle"></i>
									<span class="nav-link-text">@item.PageTitle</span>
								</a>
							</li>
						}
					}
				</ul>
				<ul class="navbar-nav sidenav-toggler">
					<li class="nav-item">
						<a class="nav-link text-center" id="sidenavToggler">
							<i class="fa fa-fw fa-angle-left"></i>
						</a>
					</li>
				</ul>

			</div>
		</nav>
	}

	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/administracija">Početna</a>
				</li>
				@if (!Html.Controller().Equals("Home"))
				{
					if (Html.Action().Equals("Index"))
					{
						<li class="breadcrumb-item active">@Html.Controller()</li>
					}
					else
					{
						<li class="breadcrumb-item">
							<a href="@Url.Action("Index")">@Html.Controller()</a>
						</li>
						<li class="breadcrumb-item active">@Html.Action()</li>
					}
				}
			</ol>
			<div class="main-content">
				@RenderBody()
			</div>
			<div class="modal" tabindex="-1" role="dialog" id="modal">
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer">
			<div class="container">
				<div class="text-center">
					<small>Copyright © Liga za rekreativce Novi Sad @DateTime.Now.Year</small>
				</div>
			</div>
		</footer>
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fa fa-angle-up"></i>
		</a>
	</div>

	@Scripts.Render("~/bundles/scripts/libs/", "~/bundles/scripts/unobtrusive/", "~/bundles/scripts/management/")
	@RenderSection("scripts", required: false)

	<script>
		$(document).ready(function () {
			$('.tooltip-popup').tooltipster({
				distance: -10,
				theme: 'tooltipster-shadow'
			});
		});
	</script>
</body>
</html>

